/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.theme-code-group__nav-tab-active
  border-bottom: $accentColor 1px solid !important

// override default code diffing colors
.token
	&.deleted
		color #ff5f5f !important
	&.inserted
		color #71c871 !important
